{
  "presets": ["next/babel"],
  "plugins": [
    "react-optimized-image/plugin",
    "babel-plugin-macros",
    [
      "styled-components",
      {
        "ssr": false,
        "displayName": false
      }
    ]
  ]
}
